$color_border: #e0e0e0;

.table_body_tr {
  text-align: center;
  border: 1px solid;
  border-color: $color_border;
  border-collapse: collapse;
}
.icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  img {
    border-radius: 50%;
  }
}
.table_td {
  text-align: center;
}
