$color_primary: #ffb300;
$color_background: #ffffff;
$color_surface: #212121;
$color_action: #616161;
$color_caption: #757575;
$color_placeholder: #9e9e9e;
$color_border: #e0e0e0;
$color_natural: #eeeeee;
$color_error: #d32f2f;
$color_warning: #ff9800;
$color_success: #00c853;
$color_hover: #ffc439;
$color_link: #0068ff;
