@import "variables";

.full_table {
  width: 100%;
  border: 1px solid;
  border-color: $color_border;
  border-collapse: collapse;
  border-radius: 4px;
  margin-bottom: 40px;
}
.table_header {
  height: 55px;
}

.default_arrow {
  cursor: pointer;
  &::after {
    content: "\2195";
    padding-left: 10px;
  }
}
.top_arrow {
  cursor: pointer;

  &::after {
    content: "\2191";
    padding-left: 10px;
  }
}
.down_arrow {
  cursor: pointer;

  &::after {
    content: "\2193";
    padding-left: 10px;
  }
}
