$color_error: #d32f2f;
$color_success: #00c853;

.rectangle {
  border-radius: 4px;
  width: 14px;
  height: 14px;
  margin: 0 auto;
}
.rectangle_active {
  background-color: $color_success;
}
.rectangle_deactive {
  background-color: $color_error;
}
